language: bash

env:
  global:
  - IMAGE_NAME=ttyd-addons
  - PACKAGE_VERSION=v1.0

matrix:
  include:
{%- for m in matrix %}
{%- for docker_tag in m.docker_tags %}
  - services: docker
    env:
    - DIST={{ m.dist }}
    - DOCKER_TAG={{ docker_tag }}
{%- endfor %}
{%- endfor %}

script:
- shellcheck push-images.sh
- TAG_NAME="${PACKAGE_VERSION}_${DOCKER_TAG}"
- |-
  docker build "${DIST}/" -t "${IMAGE_NAME}:${TAG_NAME}" \
    --build-arg "DOCKER_TAG=${DOCKER_TAG}" \
    ;

deploy:
  provider: script
  script: bash push-images.sh
  on:
    branch: master

branches:
  only:
  - master
